<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <JobScheduler>
    <Job Name="TestDll1">
      <JobDetail job="test1" group="test1Group" jobtype="TestDll1.GetDateTime" />
      <Trigger name="test1" type="CronTrigger" expression="1" begintime="2018-9-9 17:55:30" endtime="2020-3-28 18:18:30"/>
    </Job>
    <Job Name="TestDll2">
      <JobDetail job="test2" group="test2Group" jobtype="TestDll2.GetAnimal" />
      <Trigger name="test2"  type="CronTrigger" expression="1"  begintime="2018-9-9 17:55:30" endtime="2020-3-28 18:18:30"/>
    </Job>
  </JobScheduler>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>